@{
    ViewBag.Title = "Home Page";
}

@section csses {
    <style>
        #divErsnPic {
            width: 706px;
            overflow: hidden;
            padding: 2em 0;
            margin: 0 auto;
        }
    </style>
}

<div class="container">
    @*<div class="row" id="divErsnPic">*@
    <div class="row m-0 pt-4"><img src="~/AdminLTE/dist/img/header3.jpg" /></div>
    <div class="row m-0 pt-4"><img src="~/AdminLTE/dist/img/esdacllogo.png" /></div>
    <div class="row mb-12">
        <div class="col-12 p-no-margin">
            <p class="pt-4">
                <b>
                    All Rights Reserved, (C) Copyright 2023 Celestica (Thailand) Limited. Any part
                    s of screen, graphics, code, script are not allow to <br>
                    copy, distribute or any method
                    can reproduce.
                </b>
            </p>
            <br />
            <p>
                <b>
                    Powered by IIS6.0 and Oracle 10g
                </b>
            </p>
        </div>
    </div>
    <div class="row m-0 pt-4"><img src="~/AdminLTE/dist/img/hbg2.png" width="975" height="50" /></div>
    @*</div>*@
</div>